frontend/.env

infra/.DS_Store
infra/.aws-sam/*
infra/cdk.out/*
infra/node_modules/*
infra/stacks/__pycache__/*
infra/lambdas/node_modules/*
infra/layers/common_logic/*/
!infra/layers/common_logic/python/supabase_client.py

.env.json
event.json

.DS_Store



.gitignore


